.container{
    align-items: center;
    width: 100%;
}
.professor{
    align-items: center;
    width: 100%;
}
input{
    align-items: center;
    border: 2px solid yellow;
    border-radius: 7px;
    width: 50%;
}