<div class="row">
    <div class="col-md-12"></div>
    <div class="col">
<div class="container">
<form action="" class="professor form-responsive">
    <label for="">Name</label>
    <input type="text" placeholder="Enter Name">
    <label for="">age</label>
    <input type="text" placeholder="Enter Age">
    <label for="">Qualification</label>
    <input type="text" placeholder="EnterQualification">
    <label for="">Subjects</label>
    <input type="text" placeholder="Enter Subjects">
    <label for="">Image</label>
    <input type="text" placeholder="Image">
    
</form>
</div>
</div>
</div>
